@import "_custom-properties.css";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* stylelint-disable */
html {
	box-sizing: border-box;
}

/* stylelint-enable */

/**
 * Inherit box-sizing to make it easier to change the property for
 * components that leverage other behavior; see
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* stylelint-disable */
body {
	background: #050F1A;
	color: #DEE3E7;
	/* Fallback for when there is no custom background color defined. */
}

/* stylelint-enable */

/* stylelint-disable */
hr {
	background-color: var(--border-color-light);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.rounded {
	border-radius: 0.5rem;
}
/* stylelint-enable */

ul,
ol {
	margin: 0 0 1.5em 0;
	padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* stylelint-disable */
img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* stylelint-enable */

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 0.5em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.btn {
	background-color: #960000;
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(156 163 175 / var(--tw-border-opacity));
	padding: 0.875rem 1.5rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	text-align: center;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 500;
	line-height: 1.375;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform,
		filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform,
		filter, backdrop-filter;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform,
		filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
	width: 100%;
}

.btn:hover {
	background-color: #009670;
	border-color: #ffffff;
	color: #ffffff;
}
